{% macro random_string(len) -%}{% for i in range(0,len) -%}{{ [0,1,2,3,4,5,6,7,8,9,"a","b","c","d","e","f"]|random }}{%
endfor %}{%- endmacro -%}

{% include 'header.html' %}
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>IP2CC Device Dashboard</h2>
        </div>
    </div>
    <div class="row">
        {% for device in devices %}
        <div class="card w-75 mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ url_for('static', path='/img/ip2cc.png') }}" class="img-fluid rounded-start"
                        alt="IP2CC Controller">
                </div>
                <div class="col-md-8" style="background-color:#ffc107;">
                    <div class="card-body overflow-hidden">
                        <h5 class="card-title">{{ device.name }}</h5>
                        <div class="row">
                            <div id="ccports" class="">
                                {% for name, state in device.ports.items() %}
                                {% set guid = random_string(8) %}
                                <div class="statusRow">
                                    <span class="statusCube {{ 'cubeOff' if state == 0 else 'cubeOn' }}"></span>
                                    <span class="statusLabel">{{ name }}</span>
                                </div>
                                {% endfor %}
                                <hr/>
                                <span><a href="{{ url_for('device_detail').include_query_params(deviceId=device.id) }}">Details ></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'footer.html' %}